@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --radius: 3rem;
  --sans: Helvetica, Arial;
  --header: 'Creepster', cursive;
  --white-hue: 236, 236, 236;
  --white: rgb(var(--white-hue));
  --white-trans: rgba(var(--white-hue), 0.4);
  --black-hue: 23, 28, 29;
  --black: rgb(var(--black-hue));
  --black-trans: rgba(var(--black-hue), 0.12);
  --red: rgb(255,90,100);
  --orange: rgb(250,160,75);
  --yellow: rgb(219, 230, 102);
  --green: rgb(5, 226, 178);
  --blue: rgb(0, 183, 255);
  --pink: rgb(252, 112, 182);
  --glow-color: 252, 112, 182;
  --accent1: var(--green);
  --accent2: var(--pink);
  --font-size: 1.1rem;
  --radius-xl: 2.5rem;
  --radius-lg: 2rem;
  --radius-md: 1.5rem;
  --radius-sm: 1rem;
  --radius-xs: 0.5rem;
  --gradient: linear-gradient(90deg,
    var(--pink),
    var(--red),
    var(--orange),
    var(--yellow),
    var(--green) 90%,
    var(--blue)
  );
  --shadow: 12.5px 12.5px 10px var(--black-trans),
  60px 60px 40px var(--black-trans);
  --glow: 12.5px 12.5px 10px rgba(var(--glow-color), 0.18);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: 250ms ease;
  outline: 1px var(--accent1) solid;
  vertical-align: baseline;
  font-family: var(--header);
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.4);
  color: var(--black);
}

html,
body {
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

#root {
  position: relative;
  padding-top: 0;
  width: 100vw;
  overflow-y: scroll;
  background: var(--gradient);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  padding: 1rem;
  background-color: var(--white-trans);
}

h1, h2, h3, h4 {
  font-size: 200%;
  color: var(--accent1);
  background-color: transparent;
  text-shadow: 5px 5px 5px var(--black-trans);
}

span[class*='fa-'] {
  background-color: transparent;
  color: var(--accent1);
  font-size: 200%;
}

span[class*='fa-']:hover,
span[class*='fa-']:focus {
  background-color: transparent;
  color: var(--accent2);
  transform: scale(1.1);
}


/* HEADER ELEMENTS */

#header,
#description-and-share {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header {
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#star-rating-container {
  vertical-align: center;
}

.description p {
  display: inline-block;
  flex: 3 0 0;
}

ul {
  display: flex;
  flex-direction: row;
  flex-basis: 8rem;
  margin: auto 0;
  justify-content: space-evenly;
  align-content: center;
}

li {
  padding: 0 1rem;
}


/* IMAGES */

#images-and-styles {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#images {
  position: relative;
}

.selected-container {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.selected {
  /* height: inherit; */
  /* max-width: 500px; */
  object-fit: cover;
  cursor: zoom-in;
  width: 100%;
}

.main-arrow-container-left,
.main-arrow-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.main-arrow-container-right {
  margin-left: 0;
  margin-right: 1rem;
}

.main-arrow {
  color: var(--accent);
  font-size: 200%;
  padding: 1rem;
  background-color: var(--white-trans);
}

#carousel {
  display: flex;
  position: absolute;
  z-index: 50;
  margin:  0 auto 2rem auto;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  width: fit-content;
  flex-wrap: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

#gallery {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.gallery-image {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  box-shadow: 3px 2px 1px black;
  object-fit: cover;
}

.selected-gallery-image {
  border: 2px solid white;
  object-fit: cover;
}

.placeholder-dot {
  font-size: 80%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: var(--accent);
}

/* STYLE-SELECTION PANEL */

#style-select {
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  /* background-color: var(--white-trans); */
}
#style-price,
#style-description {
  text-align: right;
  font-size: 120%;
}

.discount-price {
  float: right;
  color: var(--red);
  font-weight: 700;
  font-size: 120%;
}

.former-price {
  float: right;
  text-decoration: line-through;
}


#thumbnails {
  margin: 0.25rem;
}

#thumbnail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
}

.style-thumbnail,
.current-style-thumbnail {
  background-color: var(--black);
  color: var(--white);
  border-radius: 7px;
  width: 60px;
  height: 60px;
  font-size: 8pt;
  line-height: 9pt;
  text-align: center;
  padding: 4px;
  margin-right: 20px;
  box-shadow: 3px 2px 2px var(--accent);
}

.current-style-thumbnail {
  background: var(--gradient);
  color: var(--white);
  border: 2px solid var(--accent2);
  box-shadow: 5px 4px 4px var(--accent2);
}

/* CHECK-OUT PANEL */

#check-out,
#add-to-cart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

#add-to-cart-container {
  display: flex;
  width: 100%;
}

#select-size-qty {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 120%;
}

select {
  border-radius: var(--radius-xs);
}

#add-to-cart {
  width: 100%;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 250%;
  color: var(--white);
  letter-spacing: 0.2rem;
  background: var(--gradient);
  border-radius: var(--radius-sm);
}

#reminder-to-select-size {
  color: var(--red);
  font-weight: 700;
}
