

.related-products {
  display: flex;
  flex-wrap: wrap;
}

.carousel>h2 {
  float: left;
  padding: 1rem 0;
  font-size: 200%;
}

main.carousel,
main.outfit-carousel {
  align-items: center;
  background-color: var(--translucent);
  display: inline-flex;
  scroll-snap-type: x mandatory;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 60vh;
  padding: 1rem;
  align-content: center;

  scroll-padding: 1rem;
  border-radius: var(--radius-lg);
}

.carousel::-webkit-scrollbar {
  display: none;
}

figure.card {
  border-radius: var(--radius-sm);
  justify-content: center;
  z-index: 15;
  scroll-snap-align: start;
  margin: 1rem 0.5rem;
  background-color: var(--translucent);
  height: inherit;
  width: 40vh;
  position: relative;
  box-shadow: var(--shadow);
}

figure.card > * {
  z-index: 5;
}

header button.card-btn {
  display: block;
  background: none;
  position: absolute;
  color: var(--translucent);
  padding: 1rem;
  top: 0;
  right: 0;
  z-index: 20;
}


span.fas {
  color: var(--translucent);
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  /* font-size: 150%; */
  padding: 20px;
}

figure.card:hover,
header button:hover,
header > button {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--accent2);
  box-shadow: var(--glow);
}

figure.card:hover
span.fas {
  color: var(--accent2);
  visibility: visible;
}

header button:hover {
  transform: scale(1.1);
}

header.card {
  align-content: center;
  width: inherit;
}

header.card img {
  z-index: 1;
  border-top-right-radius: var(--radius-sm);
  border-top-left-radius: var(--radius-sm);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

#addToOutfit {
  background-color: transparent;
  font-size: 200%;
}

footer.card-info {
  display: flex;
  margin: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer.card-info {
  display: block;
}

span.card.prices {
  line-height: 2rem;
}
span.card.prices.original-price {
  text-decoration: line-through;
  font-style: italic;
}

span.card.prices.original-price::before {
  content: 'was  ' ;
}

span.card.prices.sale {
  color: var(--red);
  font-size: 120%;
  font-weight: bold;
}


footer > *:hover {
  filter: brightness(1.2);
}

footer p.category {
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

footer div.rating {
  color: var(--yellow);
  text-shadow: var(--black-trans);
  font-size: 150%;
}

