@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#reviews {
  min-height: 80vh;
}

#reviews>button {
  color: var(--accent);
  background-color: var(--white);
  border-radius: 2px;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
}



#reviews h1 {
  text-align: left;
  font-weight: 200;
}

.float-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.float-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5rem;
}


.breakdown {
  align-items: left;
  text-align: left;
}

.float-child .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  display: block;
}

.write-review button {
  align-items: center;
  color: #f8f8f8;
  background-color: var(--accent);
  border-radius: 0.5rem;
  /* height: 100px;
  width: 300px; */
  font-weight: 800;
  font-size: 200%;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
}

.new-review fieldset {
  font-family: 'Karla', sans-serif;
  background-color: var(--white-trans);
  padding: 1rem;
  border-radius: 1rem;
  border-color: #cbcbcb;
}
.new-review legend {
  font-size: 150%;
  color: var(--accent);
  font-weight: bold;
}

.container {
  /* width: 80%; */
  /* margin: auto; */
  /* padding: 50%; */

}

.reviewItem {
  color: var(--black);
  padding: 0.5rem;
}

.reviewerAndDate {
  float: right;
  text-align: right;
}

.reviewSummary {
  font-size: 150%;
}

.reviewBody {
  padding-top: 20px;
}
.productRecommended {
  font-style: italic;
  color: var(--accent2);
  padding-top: 20px;
}

.reviewBottomSection {
  padding-top: 20px;
}


.Stars {
  --star-size: 20px;
  --star-color: var(--white-trans);
  --star-background: var(--yellow);
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  line-height: 1;
}
.Stars::before {
  content: '★★★★★';
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starRating input[type='radio'] {
  display: none;
}

.starRating {
  cursor: pointer;
  transition: color 200ms;
}

.Bars {
  --bar-size: 90px;
  --bar-color: transparent;
  --bar-background: var(--yellow);
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 20px;
  border: 1px solid black;
  background: linear-gradient(
    to right,
    var(--bar-background) var(--percent),
    var(--bar-color) var(--percent)
  );
}

.actualList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  color: var(--red);
} */

.individualChar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* color: var(--grey-lt);; */
}

section {
  margin: 3rem;
  border-radius: var(--radius-xl);
}